/* Alerta principal */
.alert-validate {
  width: 100%;
  border-radius: var(--border-radio-elements, 6px);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  color: #fff;
  padding: 10px 1.25rem;

  --s: 100px;
  --_g: #0000 8%,var(--c1) 0 17%,#0000 0 58%;
  background: 
    linear-gradient(135deg,#0000 20.5%,var(--c1) 0 29.5%,#0000 0) 0 calc(var(--s)/4),
    linear-gradient( 45deg,var(--_g)) calc(var(--s)/2) 0,
    linear-gradient(135deg,var(--_g),var(--c1) 0 67%,#0000 0),        
    linear-gradient( 45deg,var(--_g),var(--c1) 0 67%,#0000 0 83%,var(--c1) 0 92%,#0000 0),
    var(--c2); 
  background-size: var(--s) var(--s);
}

/* Contenido alineado */
.alert-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

/* Ícono */
.alert-icon {
  font-size: 1.5rem;
  text-align: center;
  flex-shrink: 0;
  margin-top: 2px; /* leve ajuste vertical para íconos */
}

/* Mensajes */
.alert-messages {
  flex: 1;
  font-size: 14px;
  line-height: 1.5;
  padding: 0px;
}

.alert-messages ul {
  margin: 0;
  padding: 0px;
}

.alert-messages li {
  margin-bottom: 4px;
}

/* Botón cerrar */
.alert-close {
  cursor: pointer;
  font-size: 1.3rem;
  color: inherit;
}

/* Tipos de alerta */
.alert-danger {
  border-left: 5px solid #ff7b8a;
  --c2: var(--color-danger);
  --c1: #d11e4b;
}
.alert-warning {
  --c2: var(--color-warning);
  --c1: #ffa000;
  border-left: 5px solid #ffe58f;
  color: #212529;
}
.alert-info {
  --c2: var(--color-info);
  --c1: #1d61d0;
  border-left: 5px solid #b8f1ff;
}
.alert-success {
  --c2: var(--color-success);
  --c1: #1d613e;
  border-left: 5px solid #b4f2c1;
}
.alert-secondary {
  --c2: var(--color-secondary);
  --c1: #6c757d;
  border-left: 5px solid #d6d8db;
}
