@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

body {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100dvh;
}



.wrapper {
    display: flex;
    height: 100%;
}

.header {
    width: 100%;
    transition: all 0.35s ease-in-out;
}

.nav_admin{
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 0px 30px;
    height: 60px;
    border-bottom: 1px solid black;
    color: white;
}

main{
    width: 100%;
    padding: 20px 30px;
    background-color: #212121;
    color: whitesmoke;
    height: calc(100dvh - 60px);
    overflow-y: auto;
}

main::-webkit-scrollbar{
    width: 5px;
}

main::-webkit-scrollbar-thumb{
    background-color: rgb(192,192,192);
    border-radius: 5px;
}

main::-webkit-scrollbar-thumb:hover{
    background-color: rgb(134,134,134);
}  

#sidebar {
    width: 70px;
    min-width: 70px;
    height: 100dvh;
    transition: all .25s ease-in-out;
    background-color: #0e2238;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: visible;
}

#sidebar.expand {
    width: 250px;
    min-width: 250px;
}

.sidebar-footer{
    padding: 0px;
    margin: 0px;
}

.logo-content{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    padding: 0px 23px;
    background-color: black;
    height: 73px;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 0rem;
}

.toggle-btn img {
    width: 25px;
}

.sidebar-logo {
    margin: auto 0;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    font-size: 25px;
}

.sidebar-logo a {
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

#sidebar:not(.expand) a.sidebar-link:hover span{
    display: flex;
}

#sidebar:not(.expand).sidebar-nav {
    overflow: visible;
}

.sidebar-nav {
    padding: 20px 0px;
    height: 100%;
    margin: 0px 0px;
    /*overflow-y: auto;
    overflow-x: hidden;*/
}

.sidebar-nav::-webkit-scrollbar{
    width: 5px;
}

.sidebar-nav::-webkit-scrollbar-thumb{
    background-color: rgb(192,192,192);
    border-radius: 5px;
}

.sidebar-nav::-webkit-scrollbar-thumb:hover{
    background-color: rgb(134,134,134);
}

a.sidebar-link {
    padding: 8px 20px;
    color: #FFF;
    display: flex;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
    align-items: center;
    gap: 10px;
}

.sidebar-link i {
    font-size: 1.3rem;
}

#sidebar:not(.expand) .sidebar-link i {
    font-size: 20px;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #3b7ddd;
}

#sidebar:not(.expand) .sidebar-item .sidebar-link:hover{
    background-color: #136ecf;
    width: 250px;
    display: flex;
}

.sidebar-item {
    position: relative;
}

.sidebar-subitem{
    padding: 8px 21px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: black;
}

.sidebar-subitem i {
    font-size: 1.3rem;
}

.sidebar-subitem span{
    font-size: 0.8rem;
    color: white;
}

.sidebar-subitem a{
    color: white;
    text-decoration: none;
}

.sidebar-subitem:hover {
    background-color: rgba(255, 255, 255, .075);
}

.sidebar-subitem i{
    color: white;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 48px;
    left: 70px;
    background-color: #0e2238;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid ;
    border-width: 0 0.19rem 0.19rem 0;
    content: "";
    display: inline-block;
    padding: 3px;
    position: absolute;
    right: 1.5rem;
    top: 1.2rem;
    transform: rotate(-135deg);
    transition: transform .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: transform .2s ease-out;
}

.nav_usuario{
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

.nav_usuario img{
    width: 40px;
    border-radius: 10px;
}

.usuario_datos{
    display: flex;
    flex-direction: column;
}

.usuario_nombre{
    font-size: small;
}

.usuario_rol{
    font-size: 10px;
}

.ver_sitio{
    color: white;
    background-color:  rgb(196, 0, 75);
    display: flex;
    gap: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.2s ease-out;
}

.ver_sitio:hover{
    background-color: rgb(187, 0, 0);
}

table tr td {
    vertical-align: middle;
}

@media screen and (max-width: 768px){
    .nav_fecha{
        display: none;
    }
}

.modal-slide-animate {
  animation: zoomIn 0.5s ease-out;
}

@keyframes slideDown {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}