
/*====== MIGA DE NAVEGACIÓN ======*/

.breadcrumb-container {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-size-p);
  border-radius: var(--border-radio-card);
  transition: var(--transition-general);
  box-shadow: var(--sombra-material);
}

@media (max-width: 450px) {
  .breadcrumb-container {
    border-radius: 0px;
    justify-content: center;
  }
}

.breadcrumb {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.breadcrumb li {
  display: flex;
  align-items: center;
}

.breadcrumb li:not(:last-child) .separator {
  margin: 0 0.5rem;
  color: var(--color-primario);
  font-size: var(--font-size-h3);
  font-weight: var(--fw-bold);
  transition: var(--transition-general);
}

.breadcrumb a {
  color: var(--color-text);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  transition: var(--transition-general);
}

.breadcrumb a:hover {
  color: var(--color-primario);
  font-weight: var(--fw-regular);
}

.breadcrumb .active {
  color: var(--color-muted);
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.breadcrumb-container .btn .boton-text{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-right: 40px;
  align-items: center;
  transition: var(--transition-general);
}

.breadcrumb-container .btn{
  max-width: 100%;
  width: min-content;
  min-width: 40px;
  min-height: 35px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  color: whitesmoke;
  font-size: var(--font-size-xs);
  margin: 0px;
}

/* PRIMARY */
.breadcrumb-container .btn-primary {
  background-color: var(--color-primary);
  padding: 5px 20px 0px 20px;
}