
/*====== MIGA DE NAVEGACIÓN ======*/

.breadcrumb-container {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-size-p);
  border-radius: var(--border-radio-card);
  transition: var(--transition-general);
  box-shadow: var(--sombra-material);
  font-family: var(--font-family-dashboard);
}

@media (max-width: 450px) {
  .breadcrumb-container {
    /*border-radius: 0px;*/
    justify-content: center;
  }
  .boton-breadcrumb{
    display: none !important;
  }
}

.breadcrumb {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 10px;
}

.breadcrumb .breadcrumb-opcion {
  display: flex;
  gap: 10px;
}

.breadcrumb li .separator {
  color: var(--color-primario);
  font-size: var(--font-size-h3);
  font-weight: var(--fw-bold);
  transition: var(--transition-general);
}

.breadcrumb a {
  color: var(--color-text);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  transition: var(--transition-general);
}

.breadcrumb a:hover {
  color: var(--color-primario);
  font-weight: var(--fw-regular);
}

.breadcrumb .active {
  color: var(--color-muted);
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
