/* =============================
   FORMULARIO GENERAL
============================= */
.formulario {
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  border-radius: var(--border-radio-card);
  color: var(--color-text);
  box-shadow: var(--sombra-material);
  transition: var(--transition-general);
  gap: 20px;
  font-family: var(--font-family-dashboard);
}

@media (max-width: 450px) {
  .formulario {
    background-color: transparent;
    padding: 10px 15px;
    border-radius: 0px;
    gap: 30px;
  }
}

.formulario-contenido {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
}

.formulario-columna {
  flex: 1 1 350px;
  width: 100%;
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.formulario-columna-nowrap{
  flex: 1 1 350px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: start;
}

.input-group {
  flex: 1 1 350px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: 5px;
}

.input-group-nowrap {
  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: 5px;
}

.form-label {
  font-weight: 500;
}

/* =============================
   INPUTS CON ÍCONO
============================= */
.input-contenedor {
  display: flex;
  align-items: center;
  position: relative;
}

#input-icono-descripcion, #input-icono-nombre, #input-icono-estado {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 2.5rem;
  background-color: var(--color-boton-datatable);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radio-elements);
  transition: var(--transition-general);
}

.input-contenedor input,
.input-contenedor textarea,
.input-contenedor select {
  width: 100%;
  padding: 0.6rem 2.5rem 0.6rem 2.9rem;
  border: 1px solid var(--color-boton-datatable);
  border-radius: var(--border-radio-elements);
  font-size: 0.95rem;
  transition: var(--transition-general);
  background-color: var(--color-input-bg);
  color: var(--color-text);
}

.input-contenedor textarea {
  field-sizing: content;
  resize: none;
}

.input-contenedor select {
  appearance: none;
  cursor: pointer;
}

.input-contenedor input:focus,
.input-contenedor textarea:focus,
.input-contenedor select:focus {
  border-color: var(--color-primario) !important;
  box-shadow: var(--sombra-material);
  outline: none;
}

.input-contenedor:focus-within .input-estado{
  color: var(--color-primario) !important;
}

.input-contenedor:focus-within #input-icono-descripcion,
.input-contenedor:focus-within #input-icono-nombre,
.input-contenedor:focus-within #input-icono-estado {
  background-color: var(--color-primario) !important;
}

/* =============================
   BOTONES FORMULARIO
============================= */

.formulario-acciones {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
  flex-wrap: wrap;
}

.boton-form {
  flex: 1 1 150px;
  display: inline-flex;
  max-width: 200px;
  gap: 10px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  z-index: 1;
  color: white;
  font-size: var(--font-size-p);
  border: none;
  border-radius: var(--border-radio-elements);
  overflow: hidden;
  padding: 5px 15px;
  cursor: pointer;
  transition: color 0.3s ease;
  position: relative;
  border: 2px solid transparent;
  transition: var(--transition-general);
}

.boton-form:hover {
  color: var(--color-bw-inverted);
}

.boton-form::after {
  content: "";
  position: absolute;
  top: 0;
  left: -210%;
  width: 200%;
  height: 100%;
  background-color: var(--color-bw);
  transform: skewX(-20deg);
  z-index: -1;
  transition: left 0.6s ease-in-out;
}

.boton-form:hover::after {
  left: -40%;
}

.boton-form i {
  font-size: 20px;
}

.boton-agregar {
  background-color: var(--color-primario);
}

.boton-actualizar {
  background-color: var(--color-primario);
}

.boton-limpiar {
  background-color: var(--color-warning);
  color: #000;
}

.boton-volver {
  border: 2px solid var(--color-primario);
  color: var(--color-primario);
  background-color: transparent;
}

/* =============================
   SWITCH EN TABLA
============================= */
.switch-tabla {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}

.switch-tabla input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: var(--color-card-bg);
  transition: 0.4s;
  border-radius: 50%;
}

.switch-tabla input:checked + .slider {
  background-color: var(--color-primario);
}

.switch-tabla input:checked + .slider::before {
  transform: translateX(24px);
}

/* =============================
   ESTILO SUBIDA DE IMAGEN CUSTOM
============================= */

.contenedor-upload {
  width: 100%;
  border-radius: var(--border-radio-elements);
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 0px;
}

.upload-header.arrastrando {
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 10px var(--color-primario);
}

.upload-header {
  position: relative;
  width: 100%;
  height: 300px;
  border: 2px dashed var(--color-primario);
  border-radius: var(--border-radio-card);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  gap: 0px;
  box-shadow: var(--sombra-material);
  background-color: var(--color-bg);
  /*
  --s: 150px; 
  
  --_g: var(--color-bg)        6.1%,var(--color-sidebar )  6.4% 18.6%,var(--color-bg) 18.9% 31.1%,
        var(--color-sidebar ) 31.4% 43.6%,var(--color-bg) 43.9% 56.1%,var(--color-sidebar ) 56.4% 68.6%,#0000 68.9%;
  background:
    radial-gradient(var(--s) at 100% 0   ,var(--_g)),
    radial-gradient(var(--s) at 0    0   ,var(--_g)),
    radial-gradient(var(--s) at 0    100%,var(--_g)),
    radial-gradient(var(--s) at 100% 100%,var(--_g)) var(--color-bg);
  background-size: var(--s) var(--s);*/
  
  transition: var(--transition-general);
}

.upload-header .info-imagen{
  position: absolute;
  text-align: center;
  margin: 0;
  font-size: var(--font-size-p);
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  padding: 15px;
  border-radius: 0px 0px var(--border-radio-elements) var(--border-radio-elements);
  bottom: 0px;
  color: white;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.7));

}

.upload-header img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Usa 'cover' si quieres que llene sin dejar espacios */
  border-radius: var(--border-radio-elements);
  transition: filter 0.3s ease, transform 0.3s ease;
}

.upload-header img:hover {
  filter: brightness(0.7);
  transform: scale(1.2);
}

.upload-header i{
  font-size: 4rem;
  color: var(--color-primario);
  z-index: 2;
  position: relative;
  transition: var(--transition-general);
}

.upload-header p {
  text-align: center;
  color: var(--color-bw);
  font-size: 0.95rem;
  transition: var(--transition-general);
}

.upload-footer{
  display: flex;
  width: 100%;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}

.btn-image{
  flex: 1 1 150px;
  color: white;
  display: flex;
  padding: 0.6rem 10px;
  transition: var(--transition-general);
  border: none;
  cursor: pointer;
  gap: 6px;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-p);
}

.boton-subir-imagen {
  background-color: var(--color-boton-datatable);
  border-radius: var(--border-radio-elements);
}
.boton-subir-imagen:hover {
  background-color: var(--color-primario);
}

.boton-quitar-imagen {
  background-color: var(--color-danger);
  border-radius: var(--border-radio-elements);
}

.boton-quitar-imagen:hover {
  background-color: #b6022f;
}

.info-imagen i {
  font-size: 1.2rem;
}

#imagen {
  display: none;
}

@media (max-width: 450px){

  .boton-form {
    max-width: 100%;
  }

  .formulario-acciones{
    gap: 10px;
  }

  .upload-header {
    height: 250px;
  }
}

