/* === ESTRUCTURA GENERAL === */
.contenedor-header-home {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 20px;
  text-align: start;
  background-color: var(--color-sidebar);
  border-radius: var(--border-radio-card);
  box-shadow: var(--sombra-material);
  transition: var(--transition-general);
  max-width: var(--max-width);
}

.header-user-avatar {
  width: 150px;
  height: 100px;
  object-fit: cover;
  border-radius: var(--border-radio-card-interno);
  pointer-events: none;
}

.header-user-info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* === TARGETAS / CARDS === */
.targeta {
  background-color: var(--color-sidebar);
  box-shadow: var(--sombra-material);
  border-radius: var(--border-radio-card);
  transition: transform 0.1s ease-in-out, background-color 0.3s ease-in-out;
  overflow: hidden;
}

.targeta:hover {
  transform: translateY(-5px);
  background-color: var(--color-primario);
}

.card-icon-bg i{
  transition: transform 0.3s ease-in-out;
}

.targeta:hover .card-icon-bg i{
  transform: scale(1.2) rotate(-10deg);
}

.targeta:hover .card-info,
.targeta:hover .card-info-user {
  color: white;
}

.card.targeta a {
  display: flex;
  height: 100%;
  text-decoration: none;
}

.targeta-conteiner {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px;
  width: 100%;
}

.card-icon-bg {
  width: 110px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radio-card-interno);
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
}

/* Colores de fondo de íconos */
.card-icon-bg.danger    { background-color: var(--color-danger-pastel); }    /* pastel rojo */
.card-icon-bg.success   { background-color: var(--color-success-pastel); }   /* pastel verde */
.card-icon-bg.primary   { background-color: var(--color-primary-pastel); }   /* pastel azul */
.card-icon-bg.warning   { background-color: var(--color-warning-pastel); }   /* pastel amarillo */
.card-icon-bg.info      { background-color: var(--color-info-pastel); }      /* pastel celeste */
.card-icon-bg.secondary { background-color: var(--color-secondary-pastel); } /* pastel morado/gris */

/* === CARDS COLABORADORES === */
.targeta-conteiner-user {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  text-align: center;
}

.avatar-user {
  width: 100%;
  object-fit: cover;
  border-radius: var(--border-radio-card-interno);
  pointer-events: none;
}

.card-info-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 10px;
  color: var(--color-text);
  transition: var(--transition-general);
}

/* === TABS === */
.contenedor-footer-home {
  display: block;
  max-width: var(--max-width);
}

.wrapper_tabs {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 0px;
  padding: 10px 0px;
}

.radio_tab {
  display: none;
}

.tabs {
  border-radius: var(--border-radio-elements);
  display: flex;
  position: relative;
  width: 100%;
  max-width: 350px;
  justify-content: center;
  background-color: var(--color-sidebar);
  border-radius: var(--border-radio-card) var(--border-radio-card) 0 0;
  transition: var(--transition-general);
  box-shadow: var(--sombra-material);
}

.label_tab {
  height: 45px;
  cursor: pointer;
  font-size: var(--font-size-p);
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-text);
  position: relative;
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  border-bottom: 2px solid var(--color-text);
  transition: var(--transition-general);
}

/* Cambio de color del label activo */
#tab1:checked ~ .tabs label[for="tab1"],
#tab2:checked ~ .tabs label[for="tab2"] {
  color: white;
  border-bottom: 2px solid var(--color-primario);
}

.tabs::before{
  position: absolute;
  content: '';
  width: 50%;
  height: 100%;
  background-color: var(--color-primario);
  left: 0px;
  top: 0px;
  transition: left 0.3s ease-in-out, background-color 0.3s ease-in-out;
  border-radius: var(--border-radio-card) var(--border-radio-card) 0 0;
}

/* Movimiento de la pseudocaja */
#tab1:checked ~ .tabs::before {
  left: 0%;
}
#tab2:checked ~ .tabs::before {
  left: 50%;
}

#tab-inicio, #tab-colaboradores {
  opacity: 0;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  transform: translateY(20px);
  transition: opacity 0.4s ease, transform 0.4s ease;
  width: 100%;
}

.contenedor-menu {
  width: 100%;
  padding: 10px 0px;
}

#tab1:checked ~ #tab-inicio,
#tab2:checked ~ #tab-colaboradores {
  padding: 10px 0px;
  opacity: 1;
  height: auto;
  visibility: visible;
  transform: translateY(0);
  position: relative;
  width: 100%;
}

/* === RESPONSIVE === */
@media (max-width: 768px) {

  .wrapper_tabs {
    padding: 0px;
  }

  .contenedor-menu {
    padding: 0px 0px;
  }

  #tab1:checked ~ #tab-inicio,
  #tab2:checked ~ #tab-colaboradores{
    padding: 20px 0px;
  }

  .tabs {
    max-width: 100%;
  }

  .contenedor-header-home {
    gap: 10px;
    padding: 10px;
    border-radius: var(--border-radio-card);
  }

  .targeta-conteiner {
    flex-direction: column;
    text-align: center;
    gap: 10px !important;
  }

  .card-icon-bg {
    width: 100% !important;
    padding: 15px 10px !important;
  }

  .card-icon-bg i {
    font-size: 3.2rem;
  }

  .card-info {
    align-items: center !important;
  }

  .card-info h1,
  .card-info .card-title {
    text-align: center !important;
  }
}