.fab-wrapper {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}

/* Fondo separado con absolute */
.fab-overlay {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 70px;
  height: 70px;
  background-color: var(--color-bg-transparent);
  backdrop-filter: blur(3px);
  border-radius: var(--border-radio-card);
  z-index: 1;
  transition: all 0.1s ease;
  pointer-events: none;
}

.fab-wrapper.open + .fab-overlay,
.fab-wrapper.open .fab-overlay {
  height: 260px;
  border-radius: 40px;
}

/* Botón principal */
.fab-btn.toggle {
  background-color: var(--color-bw);
  z-index: 2;
  color: var(--color-bw-inverted);
  width: 60px;
  height: 60px;
  border-radius: var(--border-radio-card);
  font-size: 22px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, border-radius 0.3s ease;
  position: relative;
}

.fab-btn.toggle i {
  font-size: 23px;
}

.fab-wrapper.open .fab-btn.toggle {
  transform: rotate(45deg);
  border-radius: 50px;
  font-size: 25px;
}

/* Acciones */
.fab-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
  pointer-events: none;
  z-index: 2;
}

.fab-actions .fab-btn {
  opacity: 0;
  transform: translateY(10px);
  pointer-events: none;
  transition: all 0.3s ease;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 20px;
  color: white;
  z-index: 2;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fab-actions .formExportar{
  z-index: 2;
}

.fab-wrapper.open .fab-actions .fab-btn {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

/* Colores */
.fab-btn.agregar { background-color: var(--color-primary); }
.fab-btn.pdf     { background-color: #b51308; }
.fab-btn.excel   { background-color: #1d613e; }

.fab-btn:hover {
  background-color: var(--color-bw);
  color: var(--color-bw-inverted);
}

@media (max-width: 458px) {
  .fab-wrapper{
    display: flex;
  }
}