/* ==========================================
  TABLAS
   ========================================== */

/* ======= Tabla personalizada ======= */
table {
  background-color: var(--color-header) !important;
  border-radius: var(--border-radio-elements) !important;
  color: var(--color-texto) !important;
  transition: var(--transition-fondo-texto);
  margin: 0px;
  font-size: var(--font-size-p);
  font-family: var(--font-family-dashboard);
}

table td {
  text-align: start !important;
}


table td,
table th {
  vertical-align: middle !important;
  color: var(--color-texto) !important;
  padding-inline: 10px !important;
  border: 1px solid var(--color-border);
  transition: var(--transition-fondo-texto), var(--transition-borde);
}

table th:hover {
  background-color: var(--color-hover) !important;
}

table thead {
  background-color: var(--color-stripet-table) !important;
  text-transform: capitalize;
  transition: var(--transition-fondo-texto), var(--transition-borde);
  border-top: 1px solid var(--color-table-head-border);
  border-bottom: 1px solid var(--color-table-head-border);
  height: 40px;
  font-size: var(--font-size-xs);
  font-weight: var(--fw-bold);
}

table tbody tr:nth-child(even) {
  background-color: var(--color-stripet-table);
  transition: var(--transition-fondo);
}

table tbody tr:hover {
  background-color: var(--color-hover) !important;
  transition: var(--transition-fondo);
}

.tabla-responsive thead tr th{
  text-align: center;
}

.column-check-td, .column-check-th {
  min-width: 45px;
  max-width: 100%;
  text-align: center !important;
  padding: 0px;
  margin: 0px;
}

/* Estilo base para las celdas que contienen checkboxes */
td.column-check-td, th.column-check-th {
  cursor: pointer;
  text-align: center;
  padding: 0.5rem;
}

/* Ocultar el checkbox original */
.column-check-td input[type="checkbox"],
.column-check-th input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  transition: var(--transition-fondo), var(--transition-borde);
  background-color: var(--color-input-bg);
  cursor: pointer;
  position: relative;
  border: 1px solid var(--color-border);
}

/* Al pasar el mouse */
.column-check-td input[type="checkbox"]:hover,
.column-check-th input[type="checkbox"]:hover {
  border-color: var(--color-primario);
}

/* Cuando está activo (check marcado) */
.column-check-td input[type="checkbox"]:checked,
.column-check-th input[type="checkbox"]:checked {
  background-color: var(--color-primario);
}

/* Icono de check (pseudo-elemento) */
.column-check-td input[type="checkbox"]:checked::after,
.column-check-th input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 5px;
  width: 5px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* Enfocado por teclado */
.column-check-td input[type="checkbox"]:focus,
.column-check-th input[type="checkbox"]:focus {
  outline: 1px solid var(--color-bw);
  outline-offset: 2px;
}

.fila-seleccionada, .fila-seleccionada:hover {
  background-color: #111111 !important;
  transition: background-color 0.1s ease-in-out;
  color: whitesmoke !important;
}

.column-id-th {
  min-width: 50px;
  max-width: 100%;
  text-align: start !important;
}
.column-id-td {
  min-width: 50px;
  max-width: 100%;
}
.column-img-th, .column-img-td {
  text-align: center !important;
}
.column-estado-th {
  width: 90px;
  max-width: 100%;
  text-align: start !important;
}
.column-estado-td {
  width: 90px;
  max-width: 100%;
}
.column-opciones-th,.column-opciones-td {
  width: 330px;
  max-width: 100%;
}


@media (max-width: 950px){
  .column-opciones-th {
    width: 200px;
  }
  .column-opciones-td {
    width: 200px;
  }
}

@media (max-width: 768px) {
  .column-check-th, .column-id-th, .column-check-td, .column-id-td, .column-img-th, .column-img-td {
    display: none !important;
  }
  .column-estado-th  {
    width: auto;
  }
  .column-estado-td {
    width: auto;
  }
  .tabla-responsive thead {
    display: none;
  }

  .tabla-responsive{
    background-color: transparent !important;
  }

  .tabla-responsive,
  .tabla-responsive tbody,
  .tabla-responsive tr,
  .tabla-responsive td {
    display: block;
    width: 100%;
    text-align: left !important;
  }

  .tabla-responsive tr, .tabla-responsive tr:nth-child(even) {
    background-color: var(--color-card-bg);
  }

  .tabla-responsive tr:hover {
    background-color: var(--color-hover);
  }

  .tabla-responsive tr {
    margin-bottom: 10px;
    background-color: var(--color-sidebar);
    border: 1px solid var(--color-border);
    border-radius: var(--border-radio-card);
    padding: 15px;
    transition: var(--transition-borde), var(--transition-fondo);
  }

  .tabla-responsive td[data-label] {
    display: flex;
    align-items: flex-start;
    border: none;
  }
  /*
  .tabla-responsive td[data-label]::before {
    content: attr(data-label);
    font-weight: 700;
    min-width: 100px;
    max-width: 110px;
    flex-shrink: 0;     /* no se reduce
    text-align: left;
    display: inline-block;
  }
  */
  .tabla-responsive td:last-child {
    border: none;
  }

  /* Para las filas del cuerpo */
  .tabla-responsive tbody tr td:last-child {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 468px) {
  
  table td,
  table th {
    padding-inline: 0px !important;
  }
}

/* ==== BOTONES DE TABLA (editar, eliminar, etc.) ==== */
/*
table thead tr th:last-child,table tbody tr td:last-child   {
  max-width: 350px !important;
}*/

table td .table-botones {
  max-width: 100%;
  display: flex;
  gap: 5px;
  justify-content: center;
  flex-wrap: wrap;
}

table .btn {
  flex: 1 1 80px;
  max-width: 100%;
  /*width: min-content;*/
  min-width: 40px;
  min-height: 35px;
  border: none;
  border-radius: var(--border-radio-elements);
  cursor: pointer;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  color: whitesmoke;
  font-size: var(--font-size-xs);
  margin: 2px 0px;
  padding: 0px;
}

#tablaSubcategorias .btn{
  max-width: 40px;
  min-height: 35px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  color: whitesmoke;
  font-size: var(--font-size-xs);
  margin: 2px 0px;
  padding: 0px;
}

#tablaSubcategorias .btn .boton-icon{
  background-color: transparent;
  height: 100%;
  width: 40px;
  display: flex;
  font-size: 17px;
  align-items: center;
  justify-content: center;
  transition: width 200ms ease, font-size 0.1s ease;
  position: absolute;
  right: 0;
  top: 0;
  color: whitesmoke;
}

#tablaSubcategorias .btn .boton-text{
  display: none;
}

@media (max-width: 468px) {
  #tablaSubcategorias .btn{
    flex: 1 1 80px;
    max-width: 100%;
  }
  #tablaSubcategorias .btn .boton-text{
    display: flex;
  }
  #tablaSubcategorias .btn .boton-icon{
    background-color: rgba(0, 0, 0, 0.2);
  }
  #tablaSubcategorias .btn:hover .boton-text{
    color: transparent;
  }
  #tablaSubcategorias .btn:hover .boton-icon{
    width: 100%;
    border-left: none;
    right: 0;
    justify-content: center;
    font-size: 20px;
  }

  #tablaSubcategorias .btn:active .boton-icon i {
    transform: scale(0.85);
  }
}

/* ==== ANIMACIÓN DE FILAS ==== */
/*
.tabla-responsive tbody tr {
  animation: slideInLeft 0.3s ease-in-out;
}*/

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* ==== BOTONES DE TABLA ==== */
/* TEXTO del botón */
table .btn .boton-text {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-right: 40px;
  align-items: center;
}

/* ÍCONO */
table .btn .boton-icon{
  height: 100%;
  width: 40px;
  display: flex;
  font-size: 17px;
  align-items: center;
  justify-content: center;
  transition: width 0.2s ease, font-size 0.1s ease;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  right: 0;
  top: 0;
  color: whitesmoke;
}

/* HOVER EFFECTS */
table .btn:hover .boton-text{
  color: transparent;
}

table .btn:hover .boton-icon{
  width: 100%;
  border-left: none;
  right: 0;
  justify-content: center;
  font-size: 20px;
}

/* Active */
table .btn:active .boton-icon i{
  transform: scale(0.85);
}

/* === COLORES PERSONALIZADOS SEGÚN CLASE === */

/* DANGER */
table .btn-danger {
  background-color: var(--color-danger);
}

table .btn-danger:hover .boton-icon,
table .btn-danger:hover {
  background: #a9002a;
}

/* INFO */
table .btn-info {
  background-color: var(--color-info);
}

table .btn-info:hover .boton-icon,
table .btn-info:hover {
  background-color: #1d61d0;
}

/* WARNING */
table .btn-warning {
  background-color: var(--color-warning);
  color: black !important;
}
table .btn-warning:hover .boton-icon,
table .btn-warning:hover {
  background-color: #cc7a00;
}

/* SUCCESS */
table .btn-success {
  background-color: var(--color-success);
}
table .btn-success:hover .boton-icon,
table .btn-success:hover {
  background-color: #007d71;
}
