/*====== CONTENEDOR-HEADER ======*/

.contenedor-header {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  text-align: center;
  border-radius: var(--border-radio-card);
}

.contenedor-header.index{
  padding: 5px 20px;
}

.control-panel{
  display: flex;
  font-size: var(--font-size-xs);
  width: 100%;
  gap: 10px;
  font-family: var(--font-family-dashboard);
  max-width: var(--max-width);
  background-color: var(--color-sidebar);
  border-radius: var(--border-radio-card);
  padding: 10px 20px;
  transition: var(--transition-fondo);
  box-shadow: var(--sombra-material);
  flex-wrap: wrap;
  align-items: center;
}

@media (max-width: 450px) {

  .control-panel{
    background-color: transparent;
    padding: 10px 0px;
  }
}

.selector{
  flex: 0 1 auto;
  display: flex;
  min-width: 200px;
  gap: 5px;
}

.selector-input{
  display: flex;
  position: relative;
  width: 100%;
}

@media (max-width: 768px){
  .selector{
    flex: 1 1 auto;
    min-width: 150px;
    flex-direction: column;
    gap: 3px;
    max-width: 100%;
  }
}

.selector span{
  width: fit-content;
  text-wrap: nowrap;
  align-content: center;
}

.control-buscador{
  padding-left: 45px;
  padding-right: 2.5rem;
}

.buscador-clear {
  position: absolute;
  right: 0px;
  font-size: 20px;
  color: var(--color-primario);
  cursor: pointer;
  transition: color 0.3s ease;
  width: 2.5rem;
  font-size: 20px;
  right: 0;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
}

.buscador-clear:hover {
  color: var(--color-primario);
}

.control-buscador,.control-selector {
  width: 100%;
  height: 38px;
  border: 1px solid var(--color-boton-datatable);
  border-radius: var(--border-radio-elements);
  background-color: var(--color-input-bg);
  color: var(--color-text);
  transition: var(--transition-fondo-texto), var(--transition-borde);
}

.control-selector{
  width: 100%;
  cursor: pointer;
  padding-left: 5px;
}

.control-buscador:focus, .control-selector:focus {
  border-color: var(--color-primario);
  box-shadow: var(--sombra-material);
  outline: none;
}

.control-buscador::placeholder {
  color: var(--color-placeholder);
  transition: var(--transition-color);
}

.buscador-icon, .selector-icon {
  position: absolute;
  width: 2.5rem;
  font-size: 20px;
  background-color: var(--color-boton-datatable);
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  border-radius: var(--border-radio-elements);
  transition: var(--transition-fondo);
  pointer-events: none;
}
.buscador-icon{
  left: 0;
  top: 0;
  height: 100%;
}
.selector-icon{
  right: 0;
  top: 0;
  height: 100%;
}
.buscador-container:focus-within .buscador-icon, .selector:focus-within .selector-icon {
  background-color: var(--color-primario);
}

/* Cuando un filtro está activo */
.control-selector.active {
  border-color: var(--color-primario);
  box-shadow: 0 0 5px var(--color-primario);
}
.selector-icon.active{
  background-color: var(--color-primario);
}

.contenedor-botones {
  position: sticky;
  top: 0px; /* o la altura del header si tienes uno fijo */
  z-index: 3;
  display: flex;
  width: 100%;
  justify-content: start;
  font-size: var(--font-size-sm);
  font-family: var(--font-family-dashboard);
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.buscador-container{
  flex: 1 1 300px;
  width: 100%;
  position: relative;
}

.botones-export{
  display: flex;
  gap: 5px;
  padding: 5px;
  border-radius: var(--border-radio-elements);
  width: fit-content;
  background-color: var(--color-bg-transparent);
  backdrop-filter: blur(3px);
}

.eliminar-seleccion, .cancelar-seleccion{
  display: none !important;
}

.eliminar-seleccion.visible, .cancelar-seleccion.visible{
  display: flex !important;
  animation: zoomIn 0.2s ease-out;
}

@media (max-width: 458px) {
  .contenedor-header {
    padding: 5px 15px;
  }
}

.btn-export {
  position: relative;
  display: flex;
  gap: 5px;
  align-items: center;
  text-decoration: none;
  z-index: 1;
  color: white;
  font-size: var(--font-size-p);
  border: none;
  border-radius: var(--border-radio-elements);
  overflow: hidden;
  padding: 8px 15px;
  cursor: pointer;
  font-size: var(--font-size-sm);
  width: max-content;
  height: 38px;
}

/* Fondo animado diagonal */
.btn-export::after {
  content: "";
  position: absolute;
  top: 0;
  left: -210%;
  width: 200%;
  height: 100%;
  background-color: black; /* Efecto sutil */
  transform: skewX(-20deg);
  z-index: -1;
  transition: left 0.6s ease-in-out;
}

/* Animación al pasar el mouse */
.btn-export:hover::after {
  left: -40%;
}

/* Excel - Verde bosque profundo */
.btn-excel {
  background: #1d613e;
}

/* PDF - Rojo vino oscuro */
.btn-pdf {
  background: #b51308;
}

@media (max-width: 458px) {
  .btn-excel, .btn-pdf {
    display: none;
  }

  .formExportarPdf, .formExportarExcel{
    display: none;
  }
}

.estado-texto{
  display: none;
}